.header{
    margin-top: 30vh;
    margin-left: 39vw;
    font-size: 100px;
    background-color: cornflowerblue;
    border-radius: 25px;
    text-align: center;
    width: 350px;
    font-style: italic;
    border: 2px solid black;
}
#counter{
    align-self: center;
    font-size: 100px;
    text-align: center;
    height: 100px;
    width: 100px;
    margin-left: 47vw;
    margin-top: 50px;
    background-color: antiquewhite;
    border-radius: 10px;
    text-align: center;
    border: 2px solid black;
}
button{
    
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 5px;
    display: inline-block;
    margin-top: 50px;
    font-size: larger;
    background-color: turquoise;
    font-family: 'Courier New', Courier, monospace;
}
#increase{
    margin-left: 40vw;
}
body{
    background-image: url(background.jpeg);
    background-size: contain;
}